<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Reg</title>
</head>
<body>
<header th:insert="fragments/_header"></header>

<form th:action="@{/reg}" th:object="${newUser}" method="post">
    <div class="mb-3">
        <label th:for="*{username}" class="form-label">Username</label>
        <input type="text" class="form-control" th:field="*{username}">
    </div>
    <div class="mb-3">
        <label th:for="*{password}" class="form-label">Password</label>
        <input type="password" class="form-control" th:field="*{password}" aria-describedby="passHelp">
        <div id="passHelp" class="form-text">At least 4 symbols</div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>